.loadingAnimation {
  position: relative;

  &::after {
    display: block;
    content: '';

    @include absolute-cover;
    z-index: 50;

    background-color: rgba(255, 255, 255, .7);
    background-image: url('/images/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
  }

  // Hide nested preloaders.
  .loadingAnimation::after {
    display: none;
  }
}