@font-face {
  font-family: 'montserrat_bold';
  src: url('/fonts/montserrat-bold-webfont.eot');
  src: url('/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('/fonts/montserrat-bold-webfont.woff') format('woff'),
  url('/fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('/fonts/montserrat-bold-webfont.svg#montserrat_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_regular';
  src: url('/fonts/montserrat-regular-webfont.eot');
  src: url('/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('/fonts/montserrat-regular-webfont.woff') format('woff'),
  url('/fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('/fonts/montserrat-regular-webfont.svg#montserrat_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}