@mixin outstand() {
  border-radius: 0.25rem;
  background: $color_white;
  box-shadow: 1px 1px 5px rgba($color_charcoal, .7);
}

@mixin absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}