// Bootstrap settings.
$enable-print-styles: false;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// Colour palette.
$color_white: rgb(250, 250, 250);
$color_lightgrey: rgb(240, 240, 240);
$color_charcoal: rgb(30, 30, 30);

// Body
$body-bg: #f8fafc;

// FONTS
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$font_primary: 'Montserrat','Source Sans Pro', 'source_sans_pro_regular', 'Open Sans', 'Arial', sans-serif;
$font_secondary: 'Montserrat','Dobra', 'dobra_light', $font_primary;
$font_tertiary: 'Montserrat','TTCo', 'tt_commons_regular', $font_secondary;