.home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;

  min-width: 100%;
  min-height: 100%;

  text-align: center;

  .window {
    @include outstand;
    padding: 2rem;
  }
}