#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

  background: $color_lightgrey;

  .top-bar {

    .navigation-header {
      @include outstand;
      padding: 0.5rem 0 0.5rem 0;

      .branding {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--logo {
          max-height: 3rem;
        }

        &--heading {
          margin-left: 1rem;
        }
      }
    }
  }

  .main-content {
    display: flex;
    flex-grow: 1;
  }
}