.calendar-edit-form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;

  width: 100%;
  max-height: calc(100vh - 72px); // @todo calculate header size dynamically

  .render {
    flex-grow: 1;
    overflow: scroll;
  }

  .sidepanel {
    flex-basis: 25rem;
    overflow: scroll;

    @include outstand;

    background: $color_charcoal;
    color: $color_white;
    padding: 1.5rem;

    h2 {
      font-size: 1.3rem;
      margin-top: 1rem;
    }

    h3 {
      font-size: 1.1rem;
    }
  }
}

// Ability to print the preview without surrounding elements.

@media print {
  #app {
    background: initial;
  }
  .top-bar, .sidepanel {
    display: none;
  }

  .calendar-edit-form {
    max-height: initial !important;

    .render {
      overflow: visible;
    }
  }
}
