.render {
  .render__scope {
    &.A3               .sheet { width: 297mm; height: 419mm }
    &.A3.landscape     .sheet { width: 420mm; height: 296mm }
    &.A4               .sheet { width: 210mm; height: 296mm }
    &.A4.landscape     .sheet { width: 297mm; height: 209mm }
    &.A5               .sheet { width: 148mm; height: 209mm }
    &.A5.landscape     .sheet { width: 210mm; height: 147mm }
  }

  .page {
    display: flex;
    overflow: hidden;
    padding: 10mm;

    &--front {
      &__image {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .calendar__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .calendar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__banner {
      padding: 0;

      &__heading {
        display: flex;
        justify-content: center;
      }
    }

    &__head, &__body {
      display: flex;
      flex-direction: column;

      &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      &__cell {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 14.285714285714285714285714285714%;

        &--week-number {
          justify-content: center;
          width: 2rem;
        }
      }
    }

    &__head {
      &__row {}

      &__cell {}
    }

    &__body {
      flex-grow: 1;

      &__row {
        flex-grow: 1;
        flex-basis: 0;
      }

      &__cell {}

      .calendar__day {
        &__icons {
          .calendar__icon {}
        }

        &__number {}

        &__events {
          .calendar__event {
            display: block;
          }
        }
      }
    }

    &__footer {
      margin-top: 1rem;
      line-height: 1;

      &__entry {}
    }
  }
}
