.render__scope.colour-schema--default {
  --background-base: rgb(246, 243, 234);
  --foreground-base: rgb(78, 79, 74);

  --highlight-lighter: rgb(197, 196, 191);
  --highlight-base: rgb(98, 97, 94);
  --highlight-contrast: rgb(255, 255, 255);
}