.render__scope.colour-schema--monochromatic {
  --background-base: rgb(255, 255, 255);
  --foreground-base: rgb(78, 79, 74);

  --highlight-contrast: rgb(255, 255, 255);
  --highlight-lighter: rgb(230, 230, 230);
  --highlight-base: rgb(47, 47, 47);
}