.render__scope.colour-schema--rainbow {
  --background-base: rgb(246, 243, 234);
  --foreground-base: rgb(78, 79, 74);

  --highlight-contrast: rgb(255, 255, 255);

  .calendar--index {
    &-1 {
      --highlight-lighter: rgb(165, 210, 228);
      --highlight-base: rgb(67, 160, 199);
    }

    &-2 {
      --highlight-lighter: rgb(174, 219, 221);
      --highlight-base: rgb(58, 173, 143);
    }

    &-3 {
      --highlight-lighter: rgb(157, 222, 178);
      --highlight-base: rgb(59, 168, 108);
    }

    &-4 {
      --highlight-lighter: rgb(104, 215, 100);
      --highlight-base: rgb(65, 133, 62);
    }

    &-5 {
      --highlight-lighter: rgb(167, 190, 116);
      --highlight-base: rgb(154, 150, 70);
    }

    &-6 {
      --highlight-lighter: rgb(196, 175, 114);
      --highlight-base: rgb(190, 163, 80);
    }

    &-7 {
      --highlight-lighter: rgb(209, 171, 116);
      --highlight-base: rgb(155, 115, 55);
    }

    &-8 {
      --highlight-lighter: rgb(234, 114, 114);
      --highlight-base: rgb(197, 81, 81);
    }

    &-9 {
      --highlight-lighter: rgb(229, 156, 198);
      --highlight-base: rgb(107, 49, 49);
    }

    &-10 {
      --highlight-lighter: rgb(193, 158, 209);
      --highlight-base: rgb(128, 42, 90);
    }

    &-11 {
      --highlight-lighter: rgb(220, 180, 239);
      --highlight-base: rgb(113, 50, 143);
    }

    &-12 {
      --highlight-lighter: rgb(202, 190, 255);
      --highlight-base: rgb(91, 67, 199);
    }
  }
}