.render__scope.template--default {

  $border: 3px solid var(--highlight-base);
  $fontRegular: 'montserrat_regular', sans-serif;
  $fontBold: 'montserrat_bold', sans-serif;

  .calendar {
    padding: 10mm;
    background: var(--background-base);
    color: var(--foreground-base);

    font-family: $fontRegular;

    &__banner {
      &__heading {
        padding: 1rem;

        border: $border;

        &__inner {
          margin: 0 auto;
          padding: .5rem 2rem;

          font-family: $fontBold;
          font-size: 2rem;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          background: var(--foreground-base);
          color: var(--background-base);
        }
      }

      &__images {
        min-height: 1em;

        .calendar__banner__image {
          margin-top: 1em;
          margin-bottom: 1em;
          width: 100%;

          border: $border;
          background: var(--highlight-base);

          img{
            max-width: 100%;
          }
        }
      }
    }

    &__head, &__body {
      border: $border;

      &__row {}

      &__cell {
        border-right: $border;

        &:last-child {
          border-right: none;
        }
      }
    }

    &__head {

      &__row {}

      &__cell {
        justify-content: center;
        padding: 0.6rem 0.4rem;

        font-family: $fontBold;
        font-size: 0.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    }

    &__body {
      border-top: 0 none;

      &__row {}

      &__cell {
        padding: 0.2rem 0.4rem;
        border-bottom: $border;

        &--week-number {
          font-size: 0.75rem;
        }
      }

      .calendar__day {
        &__icons {
          position: absolute;
          top: 5px;
          right: 5px;

          line-height: 1;

          .calendar__icon {
            font-family: "Segoe UI Symbol", monospace;
            font-size: 0.75rem;
            margin-left: 0.5em;
          }
        }

        &__number {
          align-self: flex-start;
          margin-bottom: 0.5rem;

          font-family: $fontBold;
          font-size: 1.5rem;
          line-height: 1;
        }

        &__events {
          margin-bottom: 0.5rem;

          .calendar__event {
            display: block;
            margin-top: 0.5rem;
            text-align: center;
            font-size: 0.75rem;
            line-height: 1.1;
            font-weight: 400;

            &:first-child {
              margin-top: 0;
            }

            // Customized highlight.
            &--highlight {
              // Interesting, Holiday, Important & Crucial.
              &-2, &-3, &-4, &-5 {
                font-weight: 700;
              }
            }
          }
        }

        // Index of day in week.
        &--index {
          // Saturday, Sunday.
          &-6, &-7 {
            .calendar__day__number {
              color: var(--highlight-base);
            }
          }
        }

        // Customized highlight.
        &--highlight {
          // Regular.
          &-1 {

          }

          // Interesting.
          &-2 {

          }

          // Holiday.
          &-3 {
            .calendar__day__number {
              color: var(--highlight-base);
            }
          }

          // Important.
          &-4 {
            background: var(--highlight-lighter);
          }

          // Crucial.
          &-5 {
            background: var(--highlight-base);

            .calendar__day__number, calendar__day__icons, .calendar__day__events, .calendar__day__icons {
              color: var(--highlight-contrast)
            }
          }
        }
      }

      &__row:last-child .calendar__body__cell {
        border-bottom: none;
      }
    }

    &__footer {

      &__entry {
        font-size: 0.67rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        white-space: nowrap;
      }
    }

  }
}
