.render__scope.template--minimalist {

  .calendar {

    &__banner {
      h1{
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }

    &__head, &__body {

      &__row {
        &:last-child {}
      }

      &__cell {
        border: 1px solid lightgrey;
        padding: 0.5rem;

        &:last-child {}
      }
    }

    &__head {

    }

    &__body {

      &__row {
      }

      &__cell {


        &--week-number {

        }

        &:last-child {

        }
      }

      .calendar__day {
        &__icons {
          position: absolute;
          top: 5px;
          right: 5px;

          line-height: 1;

          .calendar__icon {
            font-family: "Segoe UI Symbol", monospace;
            font-size: 0.75rem;
            margin-left: 0.5em;
          }
        }

        &__number {
          align-self: flex-start;
          margin-bottom: 0.5rem;

          font-size: 1rem;
          line-height: 1;
          font-weight: 700;
        }

        &__events {
          width: 100%;

          .calendar__event {
            font-size: 0.6rem;

            &:first-child {

            }

            // Customized highlight.
            &--highlight {
              &-2{
                font-style: italic;
              }
              // Holiday, Important & Crucial.
              &-3, &-4, &-5 {
                font-weight: 700;
              }
            }
          }
        }

        // Index of day in week.
        &--index {
          // Saturday, Sunday.
          &-6, &-7 {
            background-color: var(--highlight-lighter);
            .calendar__day__number {

            }
          }
        }

        // Customized highlight.
        &--highlight {
          // Regular.
          &-1 {

          }

          // Interesting.
          &-2 {

          }

          // Holiday.
          &-3 {
            background-color: var(--highlight-lighter);
            .calendar__day__number {

            }
          }

          // Important.
          &-4 {

          }

          // Crucial.
          &-5 {

            .calendar__day__number, calendar__day__icons, .calendar__day__events, .calendar__day__icons {

            }
          }
        }
      }

      &__row:last-child .calendar__body__cell {

      }
    }

    &__footer {
      font-size: 0.6rem;
      line-height: 1.2;
    }
  }
}