<template>
    <div class="calendar-edit-form"
         :class="{loadingAnimation: controls.loadingAnimation}"
    >
        <!-- RENDER -->

        <div class="render"
             v-html="controls.render"
        >
        </div>

        <!-- SIDE PANEL -->

        <div class="sidepanel">

            <!-- VARIABLE CONTENTS -->

            <slot></slot>

            <!-- BASE SETTINGS -->

            <h2>
                Base settings
            </h2>

            <!-- year -->

            <div class="form-group mb-2">
                <label for="year">
                    Year
                </label>
                <input id="year"
                       name="year"
                       type="number"
                       min="1970"
                       max="2040"
                       v-model="formData.year"
                       class="form-control form-control-sm"
                />
            </div>

            <!-- locale -->

            <div class="form-group mb-2">
                <label for="locale">
                    Locale
                </label>
                <select id="locale"
                        name="locale"
                        v-model="formData.locale"
                        class="form-select form-select-sm"
                >
                    <option
                        v-for="locale in controls.constants.availableLocales"
                        :selected="formData.locale === locale"
                    >
                        {{ locale }}
                    </option>
                </select>
            </div>

            <!-- EVENTS -->

            <h2>
                Events
            </h2>

            <!-- presets -->

            <label>
                Data presets
            </label>

            <div class="form-group"
                 v-for="presetName in controls.constants.availableDataPresets"
            >
                <div class="form-check custom-control custom-checkbox">
                    <input type="checkbox"
                           :id="presetName"
                           :value="presetName"
                           v-model="formData.data_presets"
                           class="form-check-input custom-control-input"
                    >
                    <label :for="presetName"
                           class="form-check-label custom-control-label"
                    >
                        {{ presetName }}
                    </label>
                </div>
            </div>

            <!-- VISUAL PREFERENCES -->

            <h2>
                Visual preferences
            </h2>

            <!-- size -->

            <div class="form-group mb-2">
                <label for="visual_preferences.size">
                    Size
                </label>
                <select id="visual_preferences.size"
                        name="visual_preferences[size]"
                        v-model="formData.visual_preferences.size"
                        class="form-select form-select-sm"
                >
                    <option
                        v-for="size in controls.constants.availableSizes"
                        :selected="formData.visual_preferences.size === size"
                    >
                        {{ size }}
                    </option>
                </select>
            </div>

            <!-- render month number -->

            <div class="form-group mb-2">
                <div class="form-check custom-control custom-checkbox">
                    <input type="checkbox"
                           id="visual_preferences.renderMonthNumber"
                           v-model="formData.visual_preferences.renderMonthNumber"
                           class="form-check-input custom-control-input"
                    >
                    <label for="visual_preferences.renderMonthNumber"
                           class="form-check-label custom-control-label"
                    >
                        Render month number
                    </label>
                </div>
            </div>

            <!-- render week number -->

            <div class="form-group mb-2">
                <div class="form-check custom-control custom-checkbox">
                    <input type="checkbox"
                           id="visual_preferences.renderWeekNumber"
                           v-model="formData.visual_preferences.renderWeekNumber"
                           class="form-check-input custom-control-input"
                    >
                    <label for="visual_preferences.renderWeekNumber"
                           class="form-check-label custom-control-label"
                    >
                        Render week number
                    </label>
                </div>
            </div>

            <!-- render day number -->

            <div class="form-group mb-2">
                <div class="form-check custom-control custom-checkbox">
                    <input type="checkbox"
                           id="visual_preferences.renderDayNumber"
                           v-model="formData.visual_preferences.renderDayNumber"
                           class="form-check-input custom-control-input"
                    >
                    <label for="visual_preferences.renderDayNumber"
                           class="form-check-label custom-control-label"
                    >
                        Render day number
                    </label>
                </div>
            </div>

            <!-- template -->

            <div class="form-group mb-2">
                <label for="visual_preferences.template">
                    Template
                </label>
                <select id="visual_preferences.template"
                        name="visual_preferences[template]"
                        v-model="formData.visual_preferences.template"
                        class="form-select form-select-sm"
                >
                    <option
                        v-for="template in controls.constants.availableTemplates"
                        :selected="formData.visual_preferences.template === template"
                    >
                        {{ template }}
                    </option>
                </select>
            </div>

            <!-- colour schema -->

            <div class="form-group mb-4">
                <label for="visual_preferences.colourSchema">
                    Colour schema
                </label>
                <select id="visual_preferences.colourSchema"
                        name="visual_preferences[colourSchema]"
                        v-model="formData.visual_preferences.colourSchema"
                        class="form-select form-select-sm"
                >
                    <option
                        v-for="colourSchema in controls.constants.availableColourSchemas"
                        :selected="formData.visual_preferences.colourSchema === colourSchema"
                    >
                        {{ colourSchema }}
                    </option>
                </select>
            </div>

            <!-- ACTIONS -->

            <div class="d-flex justify-content-center mt-4">
                <span class="btn btn-primary"
                      v-on:click="saveData"
                >
                    Save
                </span>
            </div>

            <!-- export -->

            <h2>
                Export
            </h2>
            <p>
                In order to export the results, print the current page to PDF (try Ctrl+P).
            </p>


        </div>

    </div>
</template>

<script>
import Form from '../../_components/forms/Form.vue';

import moment from 'moment';
import alertify from 'alertifyjs';

export default {
    extends: Form,
    props: [
        'uuid',
    ],
    data: function () {
        return {
            controls: {
                constants: {
                    availableLocales: [],
                    availableDataPresets: [],
                    availableSizes: [],
                    availableTemplates: [],
                    availableColourSchemas: [],
                },
                render: ''
            },
            formData: {
                year: moment().format('Y'),
                data_presets: [],
                visual_preferences: {
                    size: 'A4',
                    locale: 'en',
                    renderMonthNumber: false,
                    renderWeekNumber: false,
                    renderDayNumber: false,
                    template: 'default',
                    colourSchema: 'default'
                },
            }
        }
    },
    mounted: function () {
        this.refreshRender()
    },
    methods: {
        saveData: function () {
            this.controls.loadingAnimation = true;

            axios
                .post(
                    '/calendar/' + this.uuid,
                    this.formData
                )
                .then((response) => {
                    alertify.success('Data were saved');
                    this.refreshRender();
                })
                .catch((response) => {
                    alertify.error('Saving the data failed')
                    this.controls.loadingAnimation = false;
                });
        },
        refreshRender: function () {
            this.controls.loadingAnimation = true;
            axios
                .get('/calendar/' + this.uuid + '/render',)
                .then((response) => {
                    this.controls.render = response.data
                    alertify.success('Preview was re-rendered');
                    this.controls.loadingAnimation = false;
                })
                .catch((response) => {
                    alertify.error('Updating the preview failed')
                    this.controls.loadingAnimation = false;
                });
        }
    }
}
</script>
